/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=========== GERAL?====================*/

a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*/////////////////// topo /////////////////////*/
header{
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw 4vw 10vw;
    
}
header h1{
    font-size: 1.4rem;
    font-weight: bold;
}
header nav ul {
    display: flex;
   
    
   
}
header nav ul li{
    margin: 0 10px 0 10px;
    
}a.botao{
    background-color: #0E8388;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 5px;
    border-radius: 10px;
    display: inline-block;
}

/*/////////////////// conteudo /////////////////////*/

main{
    text-align: center;
}
main section.Products{
    background-color: #CBE4DE;
    padding: 3vw 20vw 3vw 20vw;
    
    
    
}
main section.banner h1{
    font-size: 2.2rem;
    font-weight: bold;
    margin: 1vw 0 1vw 0;
    
    
}
section.banner img{
    width: 80%;
    max-width: 800px;
}
main section.banner p{
    font-size: 1.2rem;
    padding: 1vw 0 1vw 0;
    padding-bottom: 2vw;

}
main section.Products h2 {
    text-align: center;
    font-size: 3.2rem;
    padding: 1vw;
}

main h3{
    font-size: 25px;
    padding-bottom: 10px;
}
main section.Products span{
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 80px;
    font-size: 60px;
}
main section.Products ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
main section.Products li{
    width: 30%;
    background-color: white;
    border-radius: 30px;
    margin: 40px 0 40px 0;
    padding: 10px 5px 10px 5px;
    font-size: 20px;

   
   
    
}
main section.Products p{
    padding-bottom: 55px;
}
main div.segundo{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    align-items: center;
    margin-bottom: 70px;

    
    
}

main section.terceiro h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding: 20px;
    margin: 20px;
}
main section.terceiro p{
    padding-bottom: 30px;
}
main section.terceiro h2{
   
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-left: 40px;
    
}
main section.terceiro  div p{
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    
}
footer{
    background-color: #CBE4DE;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
footer h1{
    font-weight: bold;
    font-size: 20px;
}
footer ul{
    display: flex;
}
footer ul li{
    padding: 0 10px 0 10px;
    
}
main section.terceiro div {
    text-align: left;
}



/*/////////////////////////////RESPONSUVO/////////////////////////////////////////////////////////////////////////*/


@media (max-width: 600px) {
    header{
        display: block;
        text-align: center;
    }
    header nav ul li{
        width: 40%;
        
    }
    header nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    header h1{
        margin: 2vw;
        font-size: 1.5rem;
    }
   main section.banner h1{
        font-size: 1.6rem;
    }
    
    section.Products ul li{
        width: 100%;
        display: block;
    }

    section.Products ul{
        
        display: block;
    }


    
   main section.Products h2{
        font-size: 2.5rem;
        padding-bottom: 2vw;
    }
    main section.Products p{
        font-size: 1.2rem;
    }
    section.banner{
        padding: 4vw;
    }

    section.terceiro div{
        display: block;
        width: 100%;


    
    
    }
    section.terceiro{
        padding: 4vw
    }
    section.terceiro img{
        width: 100%;
        justify-content: center;
        padding: 5vw 0;
    
        }

    footer{
        flex-wrap: wrap;

    
        
    }
    footer ul li{
        padding: 2vw
    }

    }

